@use "../../../../styles/variables.scss";

.project-card {
  cursor: pointer;
  background-color: var(--foreground);
  padding: var(--card-padding);
  display: grid;
  row-gap: 1.4rem;
  border: 2px solid var(--border-color);
  border-radius: var(--card-radius);
  box-shadow: rgba(100, 100, 111, 0.144) 0px 7px 18px 0px;
  transition: 0.4s;

  .expandable-line {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: var(--project-gradient);
    transition: 0.4s;
  }

  .techs {
    display: flex;
    column-gap: 0.5rem;

    .tech-item {
      background-image: linear-gradient(
        270.5deg,
        rgb(247, 247, 247) 2.5%,
        rgb(241, 241, 241) 105.9%
      );
      padding: var(--small-item-padding);
      border: 1px solid var(--border-color);
      border-radius: var(--item-radius);
    }
  }

  .line {
    height: 1px;
    background-color: var(--border-color);
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    background: var(--project-gradient);
    color: white;
    text-align: center;
    padding: 0.8rem 1.6rem;
    border-radius: var(--item-radius);

    .icon {
      font-size: 1.25rem;
    }
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 22px 0px;
    transform: translateY(-4px);

    .expandable-line {
      width: 100%;
    }
  }
}
