.question-panel {
    width: 720px;
    height: 510px;
    padding: 20px;
    background-color: #e6e1d9;
    border-radius: 2px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    gap: 16px;

    flex-shrink: 0;
    border: 2px solid #c0b7a8;
}

.question-header {
    text-align: left;

    h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        color: #766e5e;
    }

    p {
        margin-top: 6px;
        font-size: 14px;
        color: #4f493f;
    }
}

.question-body {
    flex: 1;
    display: flex;
    gap: 16px;
}

.figure-area {
    position: relative;
    overflow: hidden;

    flex: 1;
    background-color: #e6e1d9;
    border-radius: 2px;
    height: 360px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.css-scene {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//ID: 2
.css-scene.flex {
    background: linear-gradient(
        180deg,
        #c0eaf8 0%,
        #8edefb 100%
    );
}

.css-scene.center {
    background: linear-gradient(
        180deg,
        #c0eaf8 0%,
        #8edefb 100%
    );
}

.css-scene.flex .figure-item.target {
    right: 20px;
    animation: pulse-right 2s infinite;
}
.css-scene.center .figure-item.target {
    left: 50%;
    transform: translateX(-50%);
    animation: pulse-center 2s infinite;
}

.figure-item {
    width: 140px;
}

.figure-item.actor {
    position: relative;
    z-index: 2;

    transform: translateX(0);
    transition: transform 2s linear;
}

.figure-item.target {
    position: absolute;
    bottom: 140px;
    width: 110px;
    opacity: 0.9;
}

//ID: 4
.css-scene.flex-end .figure-item.actor {
    transform: translateX(340px);
}
.css-scene.flex-end .figure-item.target {
    right: 20px;
    animation: pulse-right 2s infinite;
}
@keyframes pulse-right {
    0% { transform: scale(1); }
    50% { transform: scale(1.10); }
    100% { transform: scale(1); }
}

.css-scene.fcenter .figure-item.actor {
    transform: translateX(170px);
}
.css-scene.fcenter .figure-item.target {
    left: 50%;
    transform: translateX(-50%);
    animation: pulse-center 2s infinite;
}
@keyframes pulse-center {
    0% { transform: translateX(-50%) scale(1); }
    50% { transform: translateX(-50%) scale(1.10); }
    100% { transform: translateX(-50%) scale(1); }
}

//ID: 6
.css-scene.align {
    background: linear-gradient(
        180deg,
        #f8dec0 0%,
        #f9d6ae 100%
    );
}

.css-scene.align .figure-item.actor {
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 50%;

    transform: translateX(-50%) translateY(0);
    transition: transform 2s ease-in-out;
}
.css-scene.align .figure-item.target {
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.css-scene.fcenter-y .figure-item.actor {
    transform: translateX(-50%) translateY(-120px);
}

//ID: 8
.css-scene.bees {
    background: linear-gradient(
        180deg,
        #dbf1dc 0%,
        #c5f1c1 100%
    );

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.css-scene.bees .figure-item.flower {
    width: 170px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    margin: 0 5px 30px;
}

.css-scene.bees .figure-item.bee {
    position: absolute;
    top: 30px;
    width: 140px;

    transition: transform 2s ease-in-out;
}

.css-scene.bees .figure-item.bee:nth-child(1) {
    left: 25%;
}
.css-scene.bees .figure-item.bee:nth-child(2) {
    left: 35%;
}
.css-scene.bees .figure-item.bee:nth-child(3) {
    left: 45%;
}

.css-scene.bees.spread .figure-item.bee:nth-child(1) {
    transform: translate(-130px, 150px);
}
.css-scene.bees.spread .figure-item.bee:nth-child(2) {
    transform: translate(0, 150px);
}
.css-scene.bees.spread .figure-item.bee:nth-child(3) {
    transform: translate(130px, 150px);
}

//ID: 10
.css-scene.boxes {
    background: linear-gradient(
        180deg,
        #f3dcf5f5 0%,
        #f2d9f6 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.css-scene.boxes .figure-item.box {
    width: 100px;
    margin-left: -20px;
    margin-right: -20px;
    
    transform: translateY(0);
    transition:
        transform 3s ease-in-out,
        margin 3s ease-in-out;
    
}

.css-scene.boxes.column {
    flex-direction: column;
    gap: 12px;
}
.css-scene.boxes.column .figure-item.box {
    margin-left: 0;
    margin-right: 0;

    transform: translateY(8px);
}

//ID: 12
.css-scene.ball {
    background: linear-gradient(
        180deg,
        #f5f4dcf5 0%,
        #f4f6d9 100%
    );

    position: relative;
    width: 100%;
}

.css-scene.ball .figure-item.actor {
    width: 100px;

    position: absolute;
    top: calc(-50px + 75px);
    left: calc(-50px + 75px);

    transform: translate(0, 0);
    transition: top 1.8s ease-in-out, left 1.8s ease-in-out;
}

.css-scene.ball .figure-item.target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.css-scene.right-end .figure-item.actor {
    top: calc(300px - 70px);
    left: calc(380px - 70px);
}

//ID: 14
.css-scene.row {
    background: linear-gradient(
        180deg,
        #f5e9cf 0%,
        #f3e4c5 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.css-scene.row .figure-item.object:nth-child(1) {
    width: 105px;

}
.css-scene.row .figure-item.object:nth-child(2) {
    width: 110px;
}
.css-scene.row .figure-item.object:nth-child(3) {
    width: 150px;
    height: 100px;
}

.css-scene.row .figure-item.object {
    transition: transform 2.8s ease-in-out;
    transform: scale(1) translateX(0);
}

.css-scene.row.reverse {
    flex-direction: row-reverse;
}

.css-scene.row.reverse .figure-item.object {
    transform: scale(0.96) translateX(0);
}

//
.placeholder-text {
    text-align: center;
    font-size: 14px;
    color: #e6e1d9;
}

.figure-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.editor-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.editor-block {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 2px;
    border: 1px solid #555;
    overflow: hidden;
    min-height: 180px; //bakılabilir
}

.editor-block.readonly {
    background-color: #252526;
}

.editor-header {
    background-color: #1b1b1b;
    color:  #888;
    font-family: monospace;
    font-size: 12px;
    padding: 6px 10px;
    border-bottom: 1px solid #333;
}

.editor-inner {
    display: flex;
    grid-template-columns: 40px 1fr;
    flex: 1;
}

.line-numbers {
    background-color: #2d2d2d;
    border-right: 1px solid #777;

    padding: 8px 6px;
    display: flex;
    flex-direction: column;

    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    

    span {
        font-family: monospace;
        font-size: 14px;
        color: #858585;
        text-align: right;
        width: 24px;
    }

}


.code-content {
    padding: 8px 8px 8px 8px;
    margin: 0;

    color: #d4d4d4;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;

    white-space: pre;
    display: flex;
    flex-direction: column;
}

.code-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    resize: none;

    padding: 12px;
    font-family: monospace;
    font-size: 14px;
    color: #ffffff;
}

.code-input::placeholder {
    color: #6a9955;
}

.code-line {
    font-family: monospace;
    font-size: 14px;
    color: #d4d4d4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 22px;

    display: flex;
    align-items: center;
    white-space: pre;
}

.editor-block.mode-css {
    .code-line.editable {
        padding-left: 32px;
    }
}

.code-line.editable .code-inline-input {
    padding-left: 0;
}

.code-inline-input {
    background: transparent;
    border: none;
    outline: none;

    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;

    color: #9cdcfe;
    width: 100%;
    padding: 0;
    margin: 0;
}

.code-inline-input::placeholder {
    color: #6a9955;
}






.question-footer {
    display: flex;
    align-items: center;
    gap: 12px;  
}

.submit-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    border: 2px solid #5b85d2;
    background-color: #a3c3ff;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.result {
    font-size: 14px;
    font-weight: 600;
}

.result-success {
    color: #2e7d32;
    animation: pop 0.35s ease-out;
}

@keyframes pop {
    0% {
        transform: scale(0.95);
        opacity: 0.6;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.result-error {
    color: #c62828;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

