@use "../../../../styles/variables.scss";
@use "../../../../styles/responsive.scss" as *;

.mini-game-card {
  position: relative;
  z-index: 0;
  background-color: var(--foreground);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  border: 2px solid var(--border-color);
  box-shadow: rgba(100, 100, 111, 0.144) 0px 7px 18px 0px;
  display: grid;
  row-gap: 1.5rem;
  overflow: hidden;
  transition: 0.4s;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gains {
      display: flex;
      column-gap: 0.5rem;

      .gain-item {
        background-color: rgba(var(--game-color), 0.1);
        border-radius: var(--item-radius);
        padding: var(--small-item-padding);
        border: 1px solid rgba(var(--game-color), 0.3);
      }
    }
  }

  .game-icon {
    display: grid;
    place-content: center;
    font-size: 2rem;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: var(--game-gradient);
    transition: 0.4s;
  }

  h2 {
    transition: 0.4s;
  }

  .play-btn {
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: white;
    border-radius: var(--item-radius);
    background: var(--game-gradient);
  }

  .circle {
    position: absolute;
    z-index: -1;
    bottom: -40px;
    right: -40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgba(var(--game-color), 0.7);

    @include responsive(md) {
      animation: circleAnimation 1.5s ease-in-out infinite;
    }
  }

  .gradient-bg {
    background: var(--game-gradient);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 22px 0px;
    border: 2px solid rgba(var(--game-color), 0.5);
    transform: translateY(-4px);

    .game-icon {
      transform: scale(1.05) translateY(-4px);
    }

    h2 {
      color: rgba(var(--game-color), 1) !important;
    }

    .circle {
      animation: circleAnimation 1.5s ease-in-out infinite;
    }

    .gradient-bg {
      opacity: 0.25;
    }
  }
}

@keyframes circleAnimation {
  0% {
    background-color: rgba(var(--game-color), 0.7);
    transform: scale(1);
  }

  50% {
    background-color: rgba(var(--game-color), 0);
    transform: scale(1.4);
  }

  70% {
    background-color: rgba(var(--game-color), 0);
    transform: scale(1);
  }

  100% {
    background-color: rgba(var(--game-color), 0.7);
    transform: scale(1);
  }
}
