@use "../../../styles/variables.scss";

.landing-page {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;

  .cursor-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0.4;
  }

  .content-wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;

    h1 {
      pointer-events: auto;
      max-width: 90vw;
      margin: 0 auto;
    }
  }
}
