@import 'theme';

// Animista pulsate-fwd
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0 0 25px $glow-gold;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0 0 25px $glow-gold;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

// Shake Error
@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake-error {
    animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    border: 2px solid $bakery-error;
}

// Specific Glows
.sql-selected {
    // Base Glow
    @extend .pulsate-fwd;
    border: 2px solid $bakery-gold;
}

.glow-red {
    box-shadow: 0 0 15px $glow-red !important;
    border-color: $glow-red !important;
}

.glow-blue {
    box-shadow: 0 0 15px $glow-blue !important;
    border-color: $glow-blue !important;
}